@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Mea+Culpa&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.768627451), #000000, #000000);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}
header a {
  text-decoration: none;
}
header a h1 {
  color: white;
  font-size: 80px;
  font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-style: normal;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  font-size: 30px;
  margin: 20px 20px 20px 20px;
  border: 2px outset;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 40px;
}
header nav ul li a {
  color: white;
  transition: 0.5s;
}
header nav ul li a:hover {
  color: rgba(255, 217, 0, 0.5);
}

.hero {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../img/banner2.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.hero h2 {
  color: white;
  font-size: 35px;
  font-family: "Lobster", sans-serif;
  font-style: normal;
  text-align: center;
}

.botonreserva {
  text-align: center;
  font-family: fantasy;
  margin-top: 15px;
}
.botonreserva a {
  color: black;
  background-color: rgba(255, 217, 0, 0.5);
  font-size: 60px;
  border-radius: 30px;
  padding: 10px;
  transition: 0.5s;
}
.botonreserva a:hover {
  background-color: rgba(0, 0, 0, 0.4862745098);
  color: rgba(255, 217, 0, 0.5);
}

.principal-servicios {
  background: linear-gradient(to bottom, #000000, #001cb8);
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.principal-servicios p {
  color: white;
  font-size: 60px;
  width: 700px;
  text-align: center;
}
.principal-servicios a {
  border: 5px black;
  border-style: dashed;
  border-radius: 1000px;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(../img/servicios.png);
  background-blend-mode: overlay;
  transition: 0.5s;
}
.principal-servicios a:hover {
  transform: scale(1.1);
}

.principal-productos {
  background: linear-gradient(to bottom, #001cb8, #cfcfcf);
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.principal-productos p {
  color: white;
  font-size: 60px;
  width: 500px;
  text-align: center;
}
.principal-productos a {
  border: 5px #000000;
  border-style: dashed;
  border-radius: 1000px;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(../img/productos.png);
  background-blend-mode: overlay;
  transition: 0.5s;
}
.principal-productos a:hover {
  transform: scale(1.1);
}

.principal-nosotros {
  background: linear-gradient(to bottom, #cfcfcf, #8a0000);
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.principal-nosotros p {
  color: white;
  font-size: 60px;
  width: 500px;
  text-align: center;
}
.principal-nosotros a {
  border: 5px #000000;
  border-style: dashed;
  border-radius: 1000px;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(../img/nosotros.png);
  background-position: center;
  background-blend-mode: overlay;
  transition: 0.5s;
}
.principal-nosotros a:hover {
  transform: scale(1.1);
}

.main-sacarTurno {
  height: 700px;
  background: linear-gradient(to bottom, #000000, #8a0000);
}
.main-sacarTurno section h2 {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: "Lobster", sans-serif;
  font-style: normal;
}
.main-sacarTurno section form {
  width: 400px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 50px;
  border: 6px dashed #ffffff;
  text-align: center;
  color: white;
}
.main-sacarTurno section form label {
  display: block;
  margin-bottom: 8px;
}
.main-sacarTurno section form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.main-sacarTurno section form textarea {
  width: 300px;
}
.main-sacarTurno section form button {
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.main-sacarTurno section form button:hover {
  transform: scale(1.1);
}

.servicios {
  background: linear-gradient(to bottom, #000000, #8a0000);
}
.servicios section .titulo-servicios {
  text-align: center;
}
.servicios section .titulo-servicios h2 {
  color: white;
  font-size: 60px;
  font-family: "Lobster", sans-serif;
  font-style: normal;
}
.servicios section .titulo-servicios h3 {
  color: grey;
  font-size: 90px;
  font-family: "Lobster", sans-serif;
  font-style: normal;
}
.servicios .servicios-principal .tarjetas-servicios {
  display: flex;
  justify-content: space-around;
}
.servicios .servicios-principal .tarjetas-servicios div {
  width: 400px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.377);
  -webkit-box-shadow: 17px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}
.servicios .servicios-principal .tarjetas-servicios div h2 {
  font-size: 40px;
  font-family: "Lobster", sans-serif;
  font-style: normal;
}
.servicios .servicios-principal .tarjetas-servicios div p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.productos {
  background: linear-gradient(to bottom, #000000, #8a0000);
}
.productos section .titulo-productos {
  text-align: center;
  font-family: "Lobster", sans-serif;
  font-style: normal;
}
.productos section .titulo-productos h2 {
  color: white;
  font-size: 60px;
}
.productos section .titulo-productos h3 {
  color: grey;
  font-size: 90px;
}
.productos section .tarjetas-total {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productos section .tarjetas-total .tarjeta {
  display: flex;
  align-items: center;
  width: 800px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.11);
  margin: 10px;
  padding: 10px;
  -webkit-box-shadow: 17px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.productos section .tarjetas-total .tarjeta div img {
  height: 200px;
}
.productos section .tarjetas-total .tarjeta .tarjeta-descripcion h2 {
  color: white;
  font-size: 40px;
  font-family: "Lobster", sans-serif;
  font-style: normal;
}
.productos section .tarjetas-total .tarjeta .tarjeta-descripcion p {
  color: black;
  font-size: 25px;
}
.productos section .tarjetas-total .tarjeta .tarjeta-descripcion h3 {
  color: rgba(255, 217, 0, 0.5);
  font-size: 40px;
}
.productos section .tarjetas-total .tarjeta .tarjeta-descripcion button {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: #000000;
  font-size: 30px;
  width: 150px;
  font-family: cursive;
  transition: 0.5s;
}
.productos section .tarjetas-total .tarjeta .tarjeta-descripcion button:hover {
  transform: scale(1.1);
}

.main-nosotros {
  background: linear-gradient(to bottom, #000000, #8a0000);
}
.main-nosotros section .nosotros {
  display: flex;
  justify-content: space-around;
}
.main-nosotros section .nosotros .nosotros-tarjetas {
  width: 600px;
  text-align: center;
}
.main-nosotros section .nosotros .nosotros-tarjetas img {
  height: 500px;
}
.main-nosotros section .nosotros .nosotros-tarjetas h2 {
  color: white;
  font-size: 50px;
  font-family: "Lobster", sans-serif;
  font-style: normal;
}
.main-nosotros section .nosotros .nosotros-tarjetas p {
  color: grey;
  font-size: 40px;
}

footer {
  padding-top: 50px;
  height: 350px;
  background: linear-gradient(to bottom, #8a0000, #000000);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
footer .coso-izq {
  grid-column: 1/2;
  grid-row: 1/4;
  text-align: center;
}
footer .coso-izq img {
  height: 300px;
}
footer .redes {
  grid-column: 2/3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .redes div h2 {
  font-size: 30px;
  font-family: "Lobster", sans-serif;
  font-style: normal;
  color: black;
}
footer .redes div a img {
  transition: 0.5s;
  height: 40px;
}
footer .redes div a img:hover {
  transform: scale(1.2);
}
footer .coso-der {
  grid-column: 3/4;
  grid-row: 1/4;
  text-align: center;
}
footer .coso-der img {
  height: 300px;
}
footer .direccion {
  grid-column: 2/3;
  text-align: center;
}
footer .direccion h3 {
  color: rgba(255, 255, 255, 0.589);
}

@media screen and (max-width: 900px) {
  header a h1 {
    font-size: 40px;
  }
  header nav ul li {
    font-size: 15px;
    margin: 10px 10px 10px 10px;
    border: 2px outset;
    background-color: rgb(0, 0, 0);
    padding: 5px;
  }
  .hero {
    height: 400px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero .botonreserva a {
    font-size: 30px;
    padding: 5px;
  }
  .hero .botonreserva div {
    padding: 10px;
  }
  .principal-servicios {
    height: 175px;
  }
  .principal-servicios p {
    font-size: 30px;
    width: 250px;
  }
  .principal-servicios a {
    border: 2.5px dashed #000000;
    width: 150px;
    height: 150px;
    background-size: contain;
  }
  .principal-productos {
    height: 175px;
  }
  .principal-productos p {
    font-size: 30px;
    width: 250px;
  }
  .principal-productos a {
    border: 2.5px dashed #000000;
    width: 150px;
    height: 150px;
    background-size: contain;
  }
  .principal-nosotros {
    height: 175px;
  }
  .principal-nosotros p {
    font-size: 30px;
    width: 250px;
  }
  .principal-nosotros a {
    border: 2.5px dashed #000000;
    width: 150px;
    height: 150px;
    background-size: contain;
  }
  footer {
    padding-top: 25px;
    height: 175px;
  }
  footer .coso-izq img {
    height: 175px;
  }
  footer .coso-der img {
    height: 175px;
  }
  footer .redes div h2 {
    font-size: 15px;
  }
  footer .direccion h3 {
    font-size: 15px;
  }
  footer .redes div a img {
    height: 20px;
  }
}
@media screen and (max-width: 550px) {
  footer .coso-izq img {
    height: 130px;
  }
  footer .coso-der img {
    height: 130px;
  }
}
@media screen and (max-width: 450px) {
  .hero {
    height: 300px;
  }
  .principal-servicios {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .principal-servicios p {
    width: 80%;
    color: white;
  }
  .principal-servicios a {
    width: 250px;
    height: 250px;
  }
  .principal-productos {
    height: 350px;
    display: flex;
    flex-direction: column-reverse;
  }
  .principal-productos p {
    width: 50%;
    color: white;
  }
  .principal-productos a {
    width: 250px;
    height: 250px;
  }
  .principal-nosotros {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .principal-nosotros p {
    width: 50%;
    color: white;
  }
  .principal-nosotros a {
    width: 250px;
    height: 250px;
  }
  footer {
    padding-top: 25px;
    height: 175px;
    display: block;
  }
  footer .redes {
    text-align: center;
  }
  footer .coso-izq img {
    display: none;
  }
  footer .coso-der img {
    display: none;
  }
  footer .redes div h2 {
    font-size: 20px;
  }
  footer .direccion h3 {
    font-size: 20px;
  }
  footer .redes div a img {
    height: 40px;
  }
}
@media screen and (max-width: 1350px) {
  .servicios .servicios-principal .tarjetas-servicios div {
    width: 300px;
  }
  .servicios .servicios-principal .tarjetas-servicios div h2 {
    font-size: 20px;
  }
  .servicios .servicios-principal .tarjetas-servicios div p {
    font-size: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .servicios .servicios-principal .tarjetas-servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .servicios .servicios-principal .tarjetas-servicios div {
    margin: 20px;
  }
}
@media screen and (max-width: 530px) {
  .main-sacarTurno section form {
    width: 200px;
  }
  .main-sacarTurno section form textarea {
    width: 220px;
  }
}
@media screen and (max-width: 900px) {
  .productos section .titulo-productos h2 {
    color: rgb(255, 255, 255);
    font-size: 40px;
  }
  .productos section .titulo-productos h3 {
    color: grey;
    font-size: 50px;
  }
  .productos section .tarjetas-total .tarjeta div img {
    height: 100px;
  }
  .productos section .tarjetas-total .tarjeta {
    width: 400px;
    height: 300px;
    margin: 5px;
    padding: 5px;
  }
  .productos section .tarjetas-total .tarjeta .tarjeta-descripcion h2 {
    font-size: 20px;
  }
  .productos section .tarjetas-total .tarjeta .tarjeta-descripcion h3 {
    font-size: 20px;
  }
  .productos section .tarjetas-total .tarjeta .tarjeta-descripcion p {
    font-size: 12px;
  }
  .productos section .tarjetas-total .tarjeta .tarjeta-descripcion button {
    font-size: 15px;
    width: 150px;
  }
}
@media screen and (max-width: 450px) {
  .productos section .tarjetas-total .tarjeta {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
  }
}
@media screen and (max-width: 1200px) {
  .main-nosotros section .nosotros .nosotros-tarjetas img {
    height: 250px;
  }
  .main-nosotros section .nosotros .nosotros-tarjetas {
    width: 300px;
    text-align: center;
  }
  .main-nosotros section .nosotros .nosotros-tarjetas h2 {
    font-size: 30px;
  }
  .main-nosotros section .nosotros .nosotros-tarjetas p {
    font-size: 20px;
  }
}
@media screen and (max-width: 620px) {
  .main-nosotros section .nosotros .nosotros-tarjetas img {
    height: 100px;
  }
  .main-nosotros section .nosotros .nosotros-tarjetas {
    width: 300px;
    text-align: center;
  }
  .main-nosotros section .nosotros .nosotros-tarjetas h2 {
    font-size: 20px;
  }
  .main-nosotros section .nosotros .nosotros-tarjetas p {
    font-size: 15px;
  }
  .main-nosotros section .nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
