footer {
    padding-top: 50px;
    height: 350px;
    background: linear-gradient(to bottom, #8a0000, #000000);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .coso-izq {
        grid-column: 1/2;
        grid-row: 1/4;
        text-align: center;

        img {
            height: 300px;
        }
    }

    .redes {
        grid-column: 2/3;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        div {
            h2 {
                font-size: 30px;
                font-family: "Lobster", sans-serif;
                font-style: normal;
                color: black;
            }
        }

        div {
            a {
                img {transition: 0.5s;
                    height: 40px;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    .coso-der {
        grid-column: 3/4;
        grid-row: 1/4;
        text-align: center;

        img {
            height: 300px;
        }
    }

    .direccion {
        grid-column: 2/3;
        text-align: center;

        h3 {
            color: rgba(255, 255, 255, 0.589);
        }
    }
}