header {
    background: linear-gradient(to bottom, #000000c4, #000000, #000000);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;

    a {
        text-decoration: none;

        h1 {
            color: rgb(255, 255, 255);
            font-size: 80px;
            font-family: "Mea Culpa", cursive;
            font-weight: 400;
            font-style: normal;

        }
    }

    nav {
        ul {
            display: flex;
            list-style: none;

            li {
                font-size: 30px;
                margin: 20px 20px 20px 20px;
                border: 2px outset;
                background-color: rgb(0, 0, 0);
                padding: 10px;
                color: white;
                text-decoration: none;
                border-radius: 40px;

                a {
                    color: white;
                }
            }
        }

    }
}